@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            <label>Old Password</label>
        </div>
        <div class="editor-field">
            <input type="password" name="before" />
        </div>

        <div class="editor-label">
            <label>New Password</label>
        </div>
        <div class="editor-field">
            <input type="password" name="after" />
        </div>

        <div class="editor-label">
            <label>Confirm Password</label>
        </div>
        <div class="editor-field">
            <input type="password" name="confirmafter" />
        </div>

        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
